<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tech shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <<section> 
            <div style="display: flex; justify-content: center">
                <h1>Pagina</h1>
                <h2>de</h2>
                <h3>Daniel</h3>
        </section>
    </body>
</html>
